[project]
	description = Python????????????????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Azlan (Adyzng)
[access "refs/for/refs/*"]
	read = group user/Azlan (Adyzng)
	push = group user/Azlan (Adyzng)
	label-Code-Review = -2..+2 group user/Azlan (Adyzng)
	label-Verified = -1..+1 group user/Azlan (Adyzng)
	rebase = group user/Azlan (Adyzng)
	removeReviewer = group user/Azlan (Adyzng)
	submit = group user/Azlan (Adyzng)
[access "refs/heads/*"]
	read = group user/Azlan (Adyzng)
	create = group user/Azlan (Adyzng)
	push = +force group user/Azlan (Adyzng)
	pushMerge = group user/Azlan (Adyzng)
[access "refs/tags/*"]
	push = group user/Azlan (Adyzng)
	push = +force group user/Azlan (Adyzng)
